/* --------------------- */
img {
    border-radius: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #E5E7EB
}

/* ---------------------- */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.hero_back,
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.hero_fore,
.action_fore {
    width: 840px;
    box-sizing: border-box;
}

.hero_fore {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.logo {
    width: 200px;
}

.header ul {
    display: flex;
    gap: 16px;
}

.header,
.footer {
    color: #E5E7EB;
    font-size: 18px;
}

.hero_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.secondary_text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

button,
.action_fore {
    background-color: #3882F6;
    color: #E5E7EB;
}

button {
    padding: 4px 20px;
    height: 32px;
    font-weight: bold;
    border-width: 2px;
    border-radius: 5px;
}

.hero_container button {
    border: 0;
}

.hero_container img {
    width: 400px;
}

.info_container {
    display: flex;
    justify-content: center;
}

.info,
.quote {
    width: 800px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    gap: 16px;
    margin: 0;
}

.info h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.info img {
    height: 100px;
}

.info ul {
    display: flex;
    gap: 16px;
}

.info li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.quote_container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 48px 0;
}

.quote {
    display: flex;
    flex-direction: column;
}

#author {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
}

.action_container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 48px 0;
}

.action_fore {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    padding: 24px 48px;
}

#action {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.action_fore div {
    display: flex;
    flex-direction: column;
}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 40px;
}